@reference 'tailwindcss';

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 50ms cubic-bezier(0.25, 1, 0.5, 1);
}

.cdk-drop-list-dragging {
  @apply bg-purple-200  transition-colors duration-200;
}

.dark .cdk-drop-list-dragging {
  @apply dark:bg-gray-700;
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
}
