<div class="bg-gray-100 p-4 rounded-lg shadow-md space-y-4 border-2 border-dashed border-black/20">
  <div class="flex items-center justify-between">
    <h2 class="text-xl font-semibold text-gray-800">{{ title() }}</h2>
    <p>{{ tasks().length }} tasks</p>
  </div>
  <div class="relative flex-1 min-h-0">
    <div
      [id]="id()"
      cdkDropList
      [cdkDropListData]="tasks()"
      (cdkDropListDropped)="drop($event)"
      (cdkDropListEntered)="onDragEntered()"
      (cdkDropListExited)="onDragExited()"
      class="custom-scrollbar min-h-25 p-2  rounded-lg max-h-150 overflow-y-auto space-y-4">
      @for (task of tasks(); track task.id) {
        <app-task
          cdkDrag
          [cdkDragData]="task"
          class="block"
          [task]="task"
          (edit)="taskEdit.emit($event)"
          (remove)="taskDelete.emit($event)"
        >
          <div *cdkDragPlaceholder class="bg-gray-200 border-2 border-dashed border-gray-400 h-46.25 rounded-md"></div>
        </app-task>
      } @empty {
        @if (isDraggingOver()) {
          <div class="flex items-center justify-center h-25">
            <p class="text-center text-lg">No tasks yet.</p>
          </div>
        }
      }
    </div>
  </div>
</div>
