@reference 'tailwindcss';

.nav-bar-item {
  @apply text-white hover:text-gray-300 px-3 py-2 rounded-md text-sm font-medium cursor-pointer;
}

.active {
  @apply text-[#FA87EE] hover:text-pink-400;
}
