@reference 'tailwindcss';

.nav-bar-item {
  @apply text-gray-300 dark:text-gray-300 px-3 py-2 rounded-md text-sm font-medium transition-colors duration-200 cursor-pointer;
}

.nav-bar-item.active {
  @apply bg-gray-700 text-[#FA87EE] dark:bg-gray-900;
}

.nav-bar-item:hover {
  @apply bg-gray-600 text-[#FA87EE] dark:bg-gray-700;
}
