<div class="container mx-auto">
  <div class="flex items-center justify-between p-6">
    <div class=" space-y-2">
      <h1 class="text-3xl font-extrabold text-gray-900 dark:text-gray-100">Tasks Board</h1>
      <p class="text-gray-600 dark:text-gray-400">Drag tasks between columns or create new ones.</p>
    </div>
    <div class="self-start md:self-center flex items-center gap-4">
      <button
        (click)="onExportToJson()"
        class=" bg-blue-600 hover:bg-blue-700 text-white font-bold p-2.5 rounded-lg shadow-md transition-colors flex items-center cursor-pointer"
      >
        <ng-icon name="heroArrowDownCircle" size="24"></ng-icon>
      </button>
      <button
        (click)="onAddTask()"
        class=" bg-blue-600 hover:bg-blue-700 text-white font-bold p-2.5 rounded-lg shadow-md transition-colors flex items-center cursor-pointer"
      >
        <ng-icon name="heroPlus" size="24"></ng-icon>
      </button>
    </div>
  </div>

  @if (showForm()) {
    <app-task-form
      [task]="selectedTask()"
      (save)="onSaveTask($event)"
      (cancel)="onCancelForm()"
    />
  }
  <div class="w-full flex flex-col lg:flex-row items-stretch lg:items-center lg:justify-between gap-4 px-6">
    <input
      type="text"
      [formControl]="searchControl"
      placeholder="Search tasks..."
      class="w-full lg:max-w-md px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent outline-none transition-all bg-white dark:bg-gray-800 dark:border-gray-600 dark:text-gray-100 dark:placeholder-gray-400"
    />

    <div class="w-full lg:w-[42.5%] grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
      <select
        [formControl]="assigneeControl"
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent outline-none transition-all bg-white dark:bg-gray-800 dark:border-gray-600 dark:text-gray-100">
        <option value="">All Assignees</option>
        @for (assignee of assignees(); track assignee.id) {
          <option [value]="assignee.id">{{ assignee.name }}</option>
        }
      </select>
      <select
        [formControl]="statusControl"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent outline-none transition-all bg-white dark:bg-gray-800 dark:border-gray-600 dark:text-gray-100">
        <option value="">All Statuses</option>
        <option [value]="TaskStatus.TODO">Todo</option>
        <option [value]="TaskStatus.IN_PROGRESS">In Progress</option>
        <option [value]="TaskStatus.DONE">Done</option>
      </select>
      <select
        [formControl]="priorityControl"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent outline-none transition-all bg-white dark:bg-gray-800 dark:border-gray-600 dark:text-gray-100">
        <option value="">All Priorities</option>
        <option [value]="TaskPriority.LOW">Low</option>
        <option [value]="TaskPriority.MEDIUM">Medium</option>
        <option [value]="TaskPriority.HIGH">High</option>
      </select>
    </div>
  </div>

  <div class="p-6 grid grid-cols-1 lg:grid-cols-2  xl:grid-cols-3 gap-6" cdkDropListGroup>
    @if (tasks.isLoading()) {
      @for (list of [1, 2, 3]; track list) {
        <app-tasks-list-skeleton />
      }
    } @else {
      <app-tasks-list
        [id]="TaskStatus.TODO"
        title="TODO"
        [tasks]="todoTasks()"
        (taskDropped)="onTaskDropped($event)"
        (taskEdit)="onEditTask($event)"
        (taskDelete)="onDeleteTask($event)"
      />
      <app-tasks-list
        [id]="TaskStatus.IN_PROGRESS"
        title="In Progress"
        [tasks]="inProgressTasks()"
        (taskDropped)="onTaskDropped($event)"
        (taskEdit)="onEditTask($event)"
        (taskDelete)="onDeleteTask($event)"
      />
      <app-tasks-list
        [id]="TaskStatus.DONE"
        title="Done"
        [tasks]="doneTasks()"
        (taskDropped)="onTaskDropped($event)"
        (taskEdit)="onEditTask($event)"
        (taskDelete)="onDeleteTask($event)"
      />
    }
  </div>
</div>
